{% extends "index.html" %}
{% block content %}
<script type = "text/javascript" src = "{{url_for('static', filename = 'get_started.js')}}"></script>
<div id = "default-div">
    <div class = "row margin-top margin-bottom justify-content-center">
        <h3> Let's get some details from you! </h3>
    </div>
    <div class = "row margin-bottom justify-content-center">
            <h5 class = "margin-right"> Select a field: </h5>
        <form>
            <select id = "field-options-select">
                <option value = "" selected = "selected" disabled>Please select one</option>
            </select>
        </form>
    </div>
    <div class = "row margin-bottom justify-content-center">
        <h5 class = "margin-right"> Select a topic: </h5>
        <form>
            <select id = "topic-options-select">
                <option value = "" selected = "selected" disabled>Please select one</option>
            </select>
        </form>
    </div>
    <div class = "row justify-content-center">
        <button type = "button" class= 'btn btn-warning' id = "generate-questions-btn">
            Generate Questions
        </button>
    </div>
</div>
<center>
<div class = "row" id = "loading-div">
    <img src = "static/images/loading.png!c1024wm0">
</div>
</center>
{% endblock %}