{% extends "index.html" %}
{% block content %}
<div class = "row margin-top">
    <div class = "col-md-7 padding-right padding-left">
        <h3> Improve your Interview Skills </h3>
        <hp> If you're looking to improve your interview answers and land your dream job, you've come to the right place. Our AI-powered service can help you hone your responses to questions and give you the edge you need to succeed.</p>
        <button type = "button">
            Get Started
            <img src = "static/images/right-arrow.jpeg" id = "btn-arrow-img">
        </button>
    </div>
    <div class = "col-md-5 padding-right padding-left">
        <img src = "static/images/home-page.png" id = "home-page-img">
    </div>
</div>
{% endblock %}